﻿@model IEnumerable<ConfigurationReader.Data.ConfigurationValue>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Application Name
            </th>
            <th>
                Type
            </th>
            <th>
                ConfigurationKey Name
            </th>
            <th>
                Value
            </th>
            <th>
                IsActive
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("EditConfigurationValue", "EditConfigurationValue", new { id = item.ConfId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ConfId })
            </td>
        </tr>
}
    </tbody>
</table>
