﻿@{
    ViewData["Title"] = "Home Page";
}

<h1 id="key">Test3</h1>
<h1 id="keyValue" >Test3</h1>


@section scripts {

    <script>
        $(document).ready(function () {

            var refreshId = setInterval(function () {
                $.ajax({
                    type: "GET",
                    url: "/Home/GetKey",
                    data: { key: $("#key").text() },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#keyValue").text(data)

                    },
                    failure: function (data) {
                        $("#keyValue").text(data.responseText);
                    },
                    error: function (data) {
                        $("#keyValue").text(data.responseText);
                    }
                });
            }, 5000);
 
        });
    </script>

}